<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <script src="app/js/index-controller4.js"></script>
    <script src="app/js/filters/maiusculo-filter.js"></script>
    <script src="app/js/service/alert-service.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="app/css/media-queries.css"/>
    <script src="bower_components/angular-ui-growl/src/growl.js"></script>
    <link rel="stylesheet" href="bower_components/angular-ui-growl/css/growl.css">

</head>
<body ng-app="senai" ng-controller="IndexController">

<div class="panel panel-default">
    <div class="panel-heading">Cadastro de Pessoas</div>
    <div class="panel-body">
        <form novalidate name="myForm" ng-submit="salvar()">

            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="itNome">Nome</label>
                        <input type="text"
                               class="form-control"
                               id="itNome"
                               name="itNome"
                               ng-model="entidade.nome"
                               ng-required="true"
                               placeholder="Nome"
                               ng-minlength="3"
                               ng-maxlength="12">

                        <div ng-messages="myForm.itNome.$error"
                             ng-show="myForm.itNome.$dirty">
                            <div ng-messages-include="mensagens.html"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="itEmail">E-mail</label>
                        <input type="email"
                               class="form-control"
                               id="itEmail"
                               name="itEmail"
                               placeholder="Email"
                               ng-model="entidade.email"
                               ng-required="true"
                               ng-minlength="3"
                               ng-maxlength="20">

                        <div ng-messages="myForm.itEmail.$error"
                             ng-show="myForm.itEmail.$dirty">
                            <div ng-messages-include="mensagens.html"></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="itDateNas">Data Nascimento</label>
                        <input type="date"
                               class="form-control"
                               id="itDateNas"
                               name="itDateNas"
                               placeholder="Data Nascimento"
                               ng-model="entidade.nascimento"
                               ng-required="true">

                        <div ng-messages="myForm.itDateNas.$error"
                             ng-show="myForm.itDateNas.$dirty">
                            <div ng-messages-include="mensagens.html"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Nascimento</th>
                        </tr>
                        <tr ng-repeat="pessoa in listaDePessoas">
                            <td ng-bind="pessoa.nome"></td>
                            <td ng-bind="pessoa.email"></td>
                            <td ng-bind="pessoa.nascimento | date:'dd/MM/yyyy'"></td>
                        </tr>
                    </table>
                </div>
                <div ng-bind="pessoa.nome | maiusculo ">

                </div>

                <div class="panel-footer">
                    <button type="submit"
                            class="btn btn-primary">

                        <i class="fa fa-save"></i>
                        Salvar
                    </button>

                    <button type="submit"
                            class="btn btn-warning"
                            ng-click="limpar()">
                        <i class="fa fa-eraser"></i>
                        Limpar
                    </button>

                    <button class="btn btn-danger">
                        <i class="fa fa-close"></i>
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>