<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="app/js/index-controller.js"></script>
</head>
<body ng-app="senai">

<div ng-controller="IndexController">

    <span ng-bind="nome"></span>

    <input type="text" ng-model="nome">

    <button type="button" ng-click="click()">Alterar</button>

    <button type="button" ng-click="click2()">Voltar</button>

</div>

</body>
</html>